<!doctype html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{ site.title }} - {{ page.title }}</title>
  <link rel="stylesheet" href="{{ site.baseurl }}css/libs/normalize.css">
  <link rel="stylesheet" href="{{ site.baseurl }}css/styles.css">
</head>
<body>

  <a href="https://github.com/maxjacobson/mapquest"><img class="forkme" src="{{ site.baseurl }}img/forkme.png" alt="Fork me on GitHub"></a>

  <header>
    <h1>{{ site.title }}</h1>
  </header>

  {{ content }}

  <footer>
    <nav>
      <ul>
        <li><a href="{{ site.baseurl }}">Home</a></li>
        <li><a href="{{ site.baseurl }}about">About</a></li>
      </ul>
    </nav>
    <p>Site last built on {{ site.time | date_to_string }}</p>
  </footer>

  <script src="{{ site.baseurl }}js/libs/jquery-2.0.3.js"></script>
  <script src="{{ site.baseurl }}js/libs/d3.v3.js"></script>
  <script src="{{ site.baseurl }}js/app.js"></script>

</body>
</html>

